/* *, *::after, ::before{
  box-sizing: border-box;
}
:root {
  --mark-size: 65px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.board {
  display: grid;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, auto);
}

.cell {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border: 1px solid black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
  border-bottom: none;
}

.cell:nth-child(3n + 1){
  border-left: none;
}
.cell:nth-child(3n + 3){
  border-right: none;
}

.cell.x, .cell.y {
  cursor: not-allowed;
}

.winning-popup{
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
 height: 100vh;
  background-color: rgba(0, 0, 0, .9);
  top: 0;
  left: 0;
  left: 0;
  bottom: 0;
  color: white;
}
.winning-popup button {
  font-size: 3rem;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}
.winning-popup button:hover {
  background-color: black;
  border-color: white;
  color: white;
  cursor: pointer;
}
.winning-popup.show {
  display: flex;
}


.board.x .cell:not(.x):not(.y):hover::before,
.board.x .cell:not(.x):not(.y):hover::after,
.board.y .cell:not(.x):not(.y){
  background-color: lightblue;
}

.board.x .cell:not(.x):not(.y):hover::after,
.board.x .cell:not(.x):not(.y):hover::before,
.cell.x::after,
.cell.x::before {
  content: '';
  position: absolute;
  width: 90px;
  height: 90px;
} */
/* .cell:not(.y):not(.x):hover::after,
.cell:not(.y):not(.x):hover::before {
  content: '';
  position: absolute;
  width: 90px;
  height: 90px;
  background-color: rgba(106, 106, 112, 0.596);
  border-radius: 50%;
} */


/* .cell:not(.y):not(.x):hover::after {
  background-color: white;
  width: var(--mark-size);
  height: var(--mark-size);
  border-radius: 50%;
} */

/* 
.cell:not(.x):hover::after, .cell:not(.x):hover::before {
  content: '';
  width: 65px;
  height: 100px;
  background-color: red;
}  */

/* .cell.x::after {
  content: '';
  position: absolute;
  width: 15px;
  transform: rotate(45deg);
  height: 90px;
  background-color: black;
}
.cell.x::before{
  content: '';
  position: absolute;
  width: 15px;
  transform: rotate(-45deg);
  height: 90px;
  background-color: black;
}
.cell.y::before{
  content: '';
  position: absolute;
  width: 90px;
  height: 90px;
  background-color: black;
  border-radius: 50%;
}
.cell.y::after {
  content: '';
  position: absolute;
  width: var(--mark-size);
  height: var(--mark-size);
  background-color: #fff;
  border-radius: 50%;
} */





*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * .9);
}

body {
  margin: 0;
}

.board {
  width: 100vw;
  height: calc(100vh - 100px);
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto)
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}

.cell.x,
.cell.y {
  cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.cell.y::before {
  background-color: black;
}

.board.x .cell:not(.x):not(.y):hover::before,
.board.x .cell:not(.x):not(.y):hover::after,
.board.y .cell:not(.x):not(.y):hover::before {
  background-color: lightgrey;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.y):hover::before,
.board.x .cell:not(.x):not(.y):hover::after {
  content: '';
  position: absolute;
  width: calc(var(--mark-size) * .15);
  height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.y):hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.y):hover::after {
  transform: rotate(-45deg);
}

.cell.y::before,
.cell.y::after,
.board.y .cell:not(.x):not(.y):hover::before,
.board.y .cell:not(.x):not(.y):hover::after {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.cell.y::before,
.board.y .cell:not(.x):not(.y):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}

.cell.y::after,
.board.y .cell:not(.x):not(.y):hover::after {
  width: calc(var(--mark-size) * .7);
  height: calc(var(--mark-size) * .7);
  background-color: white;
}

.winning-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .9);
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  flex-direction: column;
}

.winning-popup button {
  font-size: 3rem;
  background-color: white;
  border: 1px solid black;
  padding: .25em .5em;
  cursor: pointer;
}

.winning-popup button:hover {
  background-color: black;
  color: white;
  border-color: white;
}

.winning-popup.show {
  display: flex;
}

.scores {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.scores div {
}